<div class="ui stackable grid">
  <div class="sixteen wide column">

    <div class="ui segment">
      <visual show-self-service=1
              show-legend="1"
              display-title="Eigene Ortsnamen suchen"
              show-popup="1"
              class="selfie"
              places="main.places"
              suffixes="main.suffixes"></visual>
    </div>

    <div class="ui section hidden divider"></div>

    <h1 class="ui header">Die 10 häufigsten Ortsnamensendungen
      in der Schweiz </h1>
    <div class="ui stackable two column stretched grid">
      <topten></topten>
    </div>


  </div><!-- /sixteen wide column -->

  <div class="sixteen wide column right aligned">
    <div class="imprint">Visualisierung: Kaspar Manz |
      <a href="http://xeophin.net">xeophin.net/worlds</a></div>
  </div>
</div><!-- /grid -->
<methodology></methodology>
