<h2 ng-if="title" class="ui dividing header">{{title}}
  <span class="sub header" ng-if="subhead">{{subhead}}</span>
</h2>


<div class="ui two column stackable grid" ng-show="showSelfService">
  <div class="column">
    <p>Wählen Sie im Menü aus den {{suffixes.length}} geläufigsten Endungen und
      zeigen Sie die Verteilung auf der Karte an:
    </p>
    <div class="ui selection fluid dropdown">
      <input type="hidden" name="suffixChooser" ng-model="chosenSuffix">
      <i class="dropdown icon"></i>
      <div class="default text">Suffix auswählen</div>
      <div class="menu">
        <div class="item" ng-repeat="sx in suffixes track by sx.regex"
             data-value="{{sx.regex}}">{{sx.niceName}}
        </div>
      </div>
    </div>

  </div>
  <div class="column">
    <p>Oder suchen Sie nach einem eigenen Begriff. Sie können dazu auch
      <a href="http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/">reguläre
        Ausdrücke</a> verwenden.</p>
    <form ng-submit="updateMap(chosenSuffix)"
          class="ui form">
      <div class="field"><input type="text" ng-model="chosenSuffix"
                                placeholder="Eigener Suchbegriff"></div>
      <div class="ui stackable fluid three item menu">
        <a class="item" href="#"
           ng-click="updateMap('^'+chosenSuffix)">Präfix
          suchen
        </a>
        <a class="item" ng-click="updateMap(chosenSuffix)" href="#">Freie
          Suche
        </a>
        <a class="item" href="#"
           ng-click="updateMap(chosenSuffix+'$')">Suffix
          suchen
        </a>
      </div>
    </form>


  </div>
</div>

<!-- Actual visualisation -->
<div class="d3 graph ui basic segment loading" style="min-height: 33vh;"></div>

<div ng-show="showLegend">
  <p class="ui small header">Anzahl Nennungen innerhalb eines
    Sechseckfeldes</p>
  <div class="legend"></div>
</div><!-- /legend -->

<p class="remarks">{{comment}}</p>

<div class="ui top right attached big label">
  {{foundPlaces}} Orte
</div>

