<h2 ng-if="title" class="ui dividing header">{{vm.title}}
  <span class="sub header" ng-if="subhead">{{vm.subhead}}</span>
</h2>


<div class="ui two column stackable grid" ng-if="vm.showSelfService">
  <div class="column">
    <p>Wählen Sie ein Suffix aus dem Menü aus, um die Verteilung anzuzeigen:
    </p>
    <div class="ui selection fluid dropdown loading">
      <input type="hidden" name="suffixChooser" ng-model="vm.chosenSuffix">
      <i class="dropdown icon"></i>
      <div class="default text">Suffix auswählen</div>
      <div class="menu">
        <div class="item" ng-repeat="sx in vm.suffixList track by sx.regex"
             data-value="{{sx.regex}}">{{sx.niceName}}
        </div>
      </div>
    </div>

  </div>
  <div class="column">
    <p>Oder suchen Sie nach einem eigenen Begriff. Sie können dazu auch
      reguläre Ausdrücke verwenden.</p>
    <form ng-submit="vm.updateMap(vm.chosenSuffix)"
          class="ui form">
      <div class="field"><input type="text" ng-model="vm.chosenSuffix"
                                placeholder="Eigener Suchbegriff"></div>
      <div class="ui fluid buttons">
        <div class="ui button"
             ng-click="vm.updateMap('^'+vm.chosenSuffix)">Präfix
          suchen
        </div>
        <div class="ui button" ng-click="vm.updateMap(vm.chosenSuffix)">Freie
          Suche
        </div>
        <div class="ui button"
             ng-click="vm.updateMap(vm.chosenSuffix+'$')">Suffix
          suchen
        </div>
      </div>
    </form>


  </div>
</div>

<!-- Actual visualisation -->
<div class="d3 graph ui basic segment loading" style="min-height: 33vh;"></div>

<div class="ui two column grid">
  <div class="column">
    <div ng-if="vm.showLegend">
      <p class="ui small header">Anzahl Nennungen innerhalb eines
        Sechseckfeldes</p>
      <div class="legend"></div>
    </div>
  </div>
  <div class="right aligned column">
    <div class="ui grey horizontal statistic">
      <div class="value">
        {{vm.foundPlaces}}
      </div>
      <div class="label">
        Orte
      </div>
    </div>
  </div>
</div>


