<div class="ui three column stackable grid">
  <div class="column">
    <p>Die Visualisierung zeigt die Verteilung von bestimmten
      Ortsnamensendungen in der Schweiz.
    </p>
    <p>Je mehr Ortschaften mit der selben Endung sich in einem Hexagon
      befinden, desto dunkler ist dessen Farbe.</p>
  </div>
  <div class="column">
    <p>Wählen Sie ein Suffix aus dem Menü aus, um die Verteilung anzuzeigen:
    </p>
    <div class="ui selection fluid dropdown loading">
      <input type="hidden" name="suffixChooser" ng-model="chosenSuffix">
      <i class="dropdown icon"></i>
      <div class="default text">Suffix auswählen</div>
      <div class="menu">
        <div class="item" ng-repeat="sx in suffixList track by sx.regex"
             data-value="{{sx.regex}}">{{sx.niceName}}</div>
      </div>
    </div>
    <div class="ui grey horizontal small statistic">
      <div class="value">
        <i class="marker icon"></i>
        {{foundPlaces}}
      </div>
      <div class="label">
        Gefundene Orte
      </div>
    </div>
  </div>
  <div class="column">
    <p>Oder suchen Sie nach einem eigenen Begriff. Sie können dazu auch
      reguläre Ausdrücke verwenden.</p>
    <form ng-submit="updateMap(chosenSuffix)"
          class="ui fluid action input">
      <input type="text" ng-model="chosenSuffix"
             placeholder="Eigener Suchbegriff">
      <div class="ui button" ng-click="updateMap(chosenSuffix)">Suche</div>
    </form>

  </div>
</div>

<div class="d3 graph ui segment loading" style="min-height: 33vh;"></div>
<div>
  <p class="ui small header">Anzahl Nennungen innerhalb eines Sechseckfeldes</p>
  <div class="legend"></div>
</div>
